.contact-index {
    .add-contact {
        position: relative;
        width: 120px;
        margin: 35px;
        background-color: #ffffff42;
        align-items: center;
        color: white;
        flex-direction: column;
        justify-content: center;
        border: none;
        padding: 12px;
        gap: 12px;
        border-radius: 8px;
        cursor: pointer;
    }

    .add-contact::before {
        content: '';
        position: absolute;
        inset: 0;
        left: -4px;
        top: -1px;
        margin: auto;
        width: 128px;
        height: 48px;
        border-radius: 10px;
        background: linear-gradient(-45deg, #2ebf91 0%, #8360c3 100%);
        z-index: -10;
        pointer-events: none;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .add-contact::after {
        content: "";
        z-index: -1;
        position: absolute;
        inset: 0;
        background: linear-gradient(-45deg, #2ebf91 0%, #8360c3 100%);
        transform: translate3d(0, 0, 0) scale(0.95);
        filter: blur(20px);
    }

    .add-contact:hover::after {
        filter: blur(30px);
    }

    .add-contact:hover::before {
        transform: rotate(-180deg);
    }

    .add-contact:active::before {
        scale: 0.7;
    }

}