.contact-edit {

    h1 {
        text-align: center;
        margin-block-start: 15px;
    }

    form {
        display: grid;
        gap: 10px;
        margin: auto;
        justify-items: center;
        align-items: center;
        padding: 20px;

        .input {
            width: 100%;
            max-width: 220px;
            height: 45px;
            padding: 12px;
            border-radius: 12px;
            border: 1.5px solid lightgrey;
            outline: none;
            transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
            box-shadow: 0px 0px 20px -18px;
            font-family: 'Titillium Web', sans-serif;

            &:hover {
                border: 2px solid lightgrey;
                box-shadow: 0px 0px 20px -17px;
            }

            &:active {
                transform: scale(0.95);
            }

            &:focus {
                border: 2px solid grey;
            }
        }


        button {
            background-color: initial;
            background-image: linear-gradient(-180deg, #00D775, #00BD68);
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-family: 'Titillium Web', sans-serif;
            height: 44px;
            width: 220px;
            line-height: 44px;
            outline: 0;
            overflow: hidden;
            padding: 0 20px;
            pointer-events: auto;
            position: relative;
            text-align: center;
            touch-action: manipulation;
            user-select: none;
            -webkit-user-select: none;
            vertical-align: top;
            white-space: nowrap;
            z-index: 9;
            border: 0;

            &:hover {
                background: #00bd68;
            }
        }
    }
}