.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5em;
    width: 100vw;
    padding-inline: 1em;

    background-image: linear-gradient(-90deg, $clr2, $clr7);

    .logo {
        display: flex;
        align-items: center;
        padding: 5px;

        img {
            height: 1.8em;
        }

        h1 {
            font-family: Ubuntu, sans-serif;
            font-weight: 600;
            font-size: 2em;
            color: darken($clr4, 15%);
            font-style: italic;
        }

        &:hover {
            background-color: rgba(235, 235, 235, 0.218);
        }
    }

    .main-nav {
        height: 100%;
        display: flex;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            border-block-end: 3px solid transparent;
            width: 80px;

            &:hover,
            &.router-link-active {
                border-block-end: 3px solid $clr3;
                color: $clr3;
            }

            &.router-link-active {
                font-weight: 500;
            }
        }

        span {
            align-self: center;
            padding-bottom: 3px;
            width: 1px;
        }
    }
}