.contact-filter {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px 40px;

    .input-style {
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        font-family: 'Titillium Web', sans-serif;
        font-size: 16px;
        color: #555;
        outline: none;

        &:focus {
            border-color: #007bff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
    }

    select {
        height: 48px;
    }
}