.contact-preview {
    display: flex;
    align-items: center;
    height: 100%;
    color: $clr8;
    gap: 8px;

    .contact-info {
        h2 {
            font-weight: 700;
        }

        h3 {
            font-size: .9rem;
            color: lightgray;
        }
    }

    .contact-img {
        display: flex;
    }
}