.contact-list {

    margin-block: 1em;
    padding: 10px;
    // background-color: rgba(178, 196, 183, 0.285);
    border-radius: .6em;
    margin: 20px;
    margin-block-start: 0;

    ul {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-template-columns: minmax(180px, 1fr) minmax(180px, 1fr);
        column-count: 4;
        column-width: 340px;
        margin: 10px;
        gap: 15px;

        padding: 0px;
        list-style: none;



        li {
            position: relative;
            display: flex;
            flex-direction: column;
            // padding: 10px;
            background-color: $clr7;
            border-radius: .3em;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            break-inside: avoid;
            margin-block-end: 15px;
            min-width: 340px;
            height: 130px;


            &:first-of-type {
                margin-block-start: 0;
            }

            .actions {
                // display: flex;
                // justify-content: end;
                position: absolute;
                right: 2px;
                bottom: -10px;
                opacity: 0;
                transition: .1s ease-in-out;
                display: flex;
                align-items: center;

                button {
                    border: none;
                    width: 2em;
                    height: 2em;
                    color: $clr5;
                    padding: 0;
                    background-color: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: .3em;

                    &:hover {
                        background-color: rgba(237, 237, 237, 0.329);
                        scale: 1.1;
                    }

                    &:hover i {
                        color: $clr9;
                    }

                    i {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: whitesmoke;
                        font-size: 1.5em;


                    }

                    .bi-x {
                        font-size: 2em;
                    }

                    .bi-pencil {
                        font-size: 1.2em;
                    }
                }
            }

            &:hover .actions {
                opacity: 1;
                bottom: 2px;
            }
        }

    }
}