.user-msg {
    position: absolute;
    top: 10vh;
    right: 3em;

    width: 250px;
    padding: 3px 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    p {
        font-weight: 600;
    }
}

.success {
    background-color: $clr6;
    color: whitesmoke;
}

.fail {
    background-color: rgb(87, 87, 87);
    color: $clr1;
}