// COLOR PALETTE
$clr1: #F9F54B;
$clr2: #8BF5FA;
$clr3: #3F979B;
$clr4: darken($clr3, 15%);
$clr5: #205E61;
$clr6: #001C30;
$clr7: #176B87;
$clr8: #00DFA2;
$clr9: #17B978;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;